NEXT_PUBLIC_SITE_URL=https://neural-network-indol.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xEFADF7719Eeb0B8F91Bc86b1CbE9E3F89001909D
NEXT_PUBLIC_BASE_APP_ID=69f99d7f42d4fe010f1c2949
NEXT_PUBLIC_BUILDER_CODE=bc_your_builder_code
NEXT_PUBLIC_BUILDER_CODE_SUFFIX=
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=
